/* 링크 텍스트 설정 */
a {
    color: black;
    text-decoration: none;
}

/* 전체 div */
.wrapper {
    width: 700px;

    margin: 90px auto;
}

/* 별점 */
.stars {
    color: rgb(117, 120, 102);
    font-size: 150%;
    margin-left: 1.5%;
    padding-left: 15%;
}

/* 리뷰 작성자 프로필 사진(정사각형 비율에 맞게 잘리도록) */
#profile {
    float: left;
    width: 63px;
    height: 63px;

    border-radius: 50%;
    margin-top: 1%;
    margin-left: 5%;
    object-fit: cover;
}

/* 리뷰 작성자 아이디 */
#user-id {
    margin: 1%;
    margin-left: 17%;
}

/* 리뷰 제목 */
#review-title {
    font-size: 110%;
    margin-left: 17%;
}

/* 리뷰 사진(정사각형 비율에 맞게 잘리도록) */
#review-image {
    width: 300px;
    height: 300px;

    margin-left: 5%;
    object-fit: cover;
    padding: 1%;
}

/* 리뷰 내용 */
#review-contents {
    width: 80%;

    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    color: rgb(91, 91, 91);
    margin: auto;
    margin-top: 1%;
    padding: 2% 5%;
}

/* 도움돼요, 별로예요 버튼 */
#good,
#bad {
    float: left;
    width: 10%;

    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    color: rgb(91, 91, 91);
    font-size: 90%;
    margin: 1%;
    padding: 1% 0%;
}

/* 도움돼요, 별로예요 버튼 호버 */
#good:hover,
#bad:hover {
    background-color: rgb(198, 198, 198);
}

/* 리뷰 삭제하기 버튼 */
#delete {
    float: right;
    width: 80px;

    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    color: rgb(117, 120, 102);
    font-size: 95%;
    margin: 1%;
    padding: 7px 0px 3px 0px;
}

/* 리뷰 삭제하기 버튼 호버 */
#delete:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}