.wrapper {
    width: 1000px;
    margin: 90px auto;
    text-align: center;
}

.none {
    display: none;
}

.text {
    text-align: center;
    margin-bottom: 1.5%;
}

.container {
    display: flex;
    padding: 20px 80px;
}

.columnleft {
    width: calc(50%);
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Align content vertically center */
    align-items: center;
}

.columnleft img {
    object-fit: cover;
    width: 135%;
    height: 100%;
    margin-right: 6%;
    object-position: center;
    /* 이미지를 수평으로 가운데 정렬 */
}


.columnright {
    background-color: rgb(251, 251, 251);
    width: calc(50%);
    margin: 2% 2% 2% 4%;
    padding: 4% 8%;
    border-radius: 10px 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.columnright table {
    width: 100%;
    /* Ensure the table takes 100% width of its container */
    table-layout: fixed;
    /* Set a fixed layout for the table */
    border-spacing: 3px;
    /* Adjust the spacing between cells */
}

table,
th,
td {
    border: none;
}

td {
    padding: 10px;

}

th {
    color: rgb(145, 145, 145);
}

.alignleft {
    text-align: left;
    margin: 0 auto;
    display: block;
}


@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

.comment {
    border-radius: 10px 10px;
    font-size: 18px;
    background-color: rgb(251, 251, 251);
    line-height: 150%;
    padding: 3% 4% 5% 4%;
    margin: 2% 7% 0% 7%;
    text-align: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.boldtext {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 2%;
}

p {
    display: block;
    float: left;
}

.auction {
    background-color: rgb(241, 244, 253);
    padding: 4% 2%;
    margin: 1% 25%;
    text-align: left;
    line-height: 150%;
    font-size: 18px;
    border-radius: 10px 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.favorite-button {
    margin: 0 auto;
    display: block;
}

.btn-love {
    background-color: rgb(221, 227, 192);
    color: rgb(117, 120, 102);
    border-radius: 10px;
    border: 3px solid rgb(221, 227, 192);
    font-size: 110%;
    padding: 2%;
}

.btn-love:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(122, 125, 103);
    border: 3px solid rgb(209, 215, 180);
}

.btn-money {
    background-color: rgb(223, 254, 227);
    color: rgb(30, 123, 75);
    border-radius: 5px;
    border: 3px solid rgb(223, 254, 227);
    font-size: 100%;
    padding: 4px 7px;
    left: 40%;
    top: 40%;
}

.btn-money:hover {
    background-color: rgb(181, 228, 187);
    color: rgb(8, 86, 46);
    border: 3px solid rgb(181, 228, 187);
}

#profile {
    float: left;
    margin-top: 1%;
    margin-right: 4%;
    border-radius: 50%;
    /* 50%로 설정하여 동그라미로 만듭니다 */
    width: 40px;
    /* 이미지의 크기를 조절할 수 있습니다 */
    height: 40px;
    /* 이미지의 크기를 조절할 수 있습니다 */
    object-fit: cover;
}


#user-id {
    padding-top: 2%;
    font-size: 110%;
    font-weight: bold;
}

#delete {
    float: left;
    width: 10%;

    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    color: rgb(117, 120, 102);
    font-size: 95%;
    margin: 4%;
    padding: 0.5% 0%;
}

#delete:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}
