* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 900px;
    cursor: default;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}

.none {
    display: none;
}

.text {
    text-align: center;
    margin-bottom: 1.5%;
}

hr {
    border: 1.5px solid rgb(163, 223, 249);
    width: 100%;
}

table,
th,
td {
    border: none;
}

td {
    padding: 10px;
}

.container {
    display: flex;
    padding: 20px 80px;
}

.columnleft {
    margin: 3% 0%;
}

.columnright {
    background-color: rgb(251, 251, 251);
    margin: 2% 3%;
    padding: 4% 10%;
    border-radius: 10px 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.alignleft{
    text-align: left;
    margin: 0 auto;
    display: block;
}

li a1 {
    float: left;
    display: block;
    text-align: left;
    padding: 0.8% 1%;
    text-decoration: none;
    border-radius: 10px 10px;
}

ul {
    list-style: none;
}

@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}

.comment {
    border-radius: 10px 10px;
    font-size: 18px;
    background-color: rgb(251, 251, 251);
    line-height: 150%;
    padding: 3% 4% 5% 4%;
    margin: 2% 7% 0% 7%;
    text-align: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.boldtext {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 2%;
}

p {
    display: block;
    float: left;
}

.auction {
    background-color: rgb(241, 244, 253);
    padding: 4% 2%;
    margin: 1% 25%;
    text-align: left;
    line-height: 150%;
    font-size: 18px;
    border-radius: 10px 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.favorite-button { 
    margin: 0 auto;
    display: block;
}

.btn-love {
    background-color: aliceblue;
    color: #1e6b7b;
    border-radius: 5px;
    border: 3px solid aliceblue;
    font-size: 100%;
}

.btn-love:hover {
    background-color: #c1e6ff;
    color: #003742;
    border: 3px solid #c1e6ff;
}


.btn-money {
    background-color: rgb(223, 254, 227);
    color: rgb(30, 123, 75);
    border-radius: 5px;
    border: 3px solid rgb(223, 254, 227);
    font-size: 100%;
    padding: 4px 7px;
    left: 40%;
    top: 40%;
}

.btn-money:hover {
    background-color: rgb(181, 228, 187);
    color: rgb(8, 86, 46);
    border: 3px solid rgb(181, 228, 187);
}

#profile {
    float: left;
    width: 12%;
    margin-right: 4%;
    border-radius: 70%;
}

#user-id {
    padding-top: 2%;
    font-size: 110%;
    font-weight: bold;
}

.auction_product {
    background-color: firebrick;
    text-align: center;
    float: right;
    top: 20%;
    right: 20%;
    border: 0;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
}
