a {
    color: black;
    text-decoration: none;
}

.stars {
    color: rgb(117, 120, 102);
    font-size: 150%;
    padding-left: 15%;
    margin-left: 1.5%;
}

.wrapper {
    width: 700px;
    margin: 90px auto;
}

#product-image {
    width: 300px;
    height: 300px;

    margin-left: 5%;
    padding: 1%;
    object-fit: cover;
}

#product-name {
    font-size: 110%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#profile {
    width: 63px;
    height: 63px;
    float: left;

    border-radius: 50%;
    margin-top: 1%;
    margin-left: 5%;
    object-fit: cover;
}

#review-contents {
    width: 80%;

    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    color: rgb(91, 91, 91);
    margin: auto;
    margin-top: 1%;
    padding: 2% 5%;
}

#review-title {
    font-size: 110%;
    margin-left: 17%;
}

#user-id {
    margin: 1%;
    margin-left: 17%;
}

#good,
#bad {
    float: left;
    width: 10%;

    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    color: rgb(91, 91, 91);
    font-size: 90%;
    margin: 1%;
    padding: 1% 0%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#bad:hover,
#good:hover {
    background-color: rgb(198, 198, 198);
}

#delete {
    float: right;
    width: 80px;

    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    color: rgb(117, 120, 102);
    font-size: 95%;
    margin: 1%;
    padding: 7px 0px 3px 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#delete:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}