.wrapper {
    width: 700px;
    margin: 75px auto;
    box-sizing: border-box;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form>input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #F8F8F8;
    padding-left: 2%;
}

#login-form>input[type="submit"] {
    font-size: 16px;
    background-color: rgb(221, 227, 192);
    color: rgb(117, 120, 102);
    border-radius: 10px;
    border: 3px solid rgb(221, 227, 192);
    margin-top: 15px;
}

#login-form>input[type="submit"]:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(122, 125, 103);
    border: 3px solid rgb(209, 215, 180);
}

#signup-btn {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #F8F8F8;
    font-size: 16px;
    margin-top: 15px;
}