/* 개인정보 박스 */
.information {
    width: 500px;
    margin: 20px;
    padding: 20px;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color: rgb(251, 251, 251);
    border-radius: 10px 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* 프로필 사진 변경 버튼 div */
.inside {
    width: 400px;
    margin: 2% 10% 2% 7%;
}

/* 저장 버튼 */
#save-btn {
    width: 200px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 3px solid rgb(221, 227, 192);
    background-color: rgb(221, 227, 192);
    font-size: 16px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

/* 저장 버튼 호버 */
#save-btn:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(122, 125, 103);
    border: 3px solid rgb(209, 215, 180);
}

/* 파일 등록 박스 */
.reg-file-box {
    width: 100%;
    display: flex;
}

/* 프로필 사진 */
#profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* 파일 */
#file {
    display: none;
}

/* 파일 업로드 버튼 */
.file-upload-button {
    width: 135px;
    height: 22px;
    background-color: #EFEFEF;
    font-size: 80%;
    color: rgb(120, 119, 119);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    position: relative;
}

/* 파일 업로드 버튼 텍스트 */
.file-upload-text {
    position: absolute;
    top: -11px;
    left: 6.5px;
    width: 200px;
}