.wrapper {
  width: 700px;
  cursor: default;
  margin: auto;
  margin-top: 7%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  /* background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); */
}

.menubar {
  overflow: hidden;
  text-align: center;
}

.menubar a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.menubar a:hover {
  background-color: #ddd;
  color: black;
}