.wrapper {
  width: 700px;
  margin: 75px auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubar {
  overflow: hidden;
  text-align: center;
}

.menubar a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.menubar a:hover {
  background-color: #ddd;
  color: black;
}

.top {
  display: flex;
  /* 메뉴 항목을 가로로 정렬 */
  flex-direction: column;
  justify-content: space-between;
  /* 메뉴를 수평으로 가운데 정렬 */
  align-items: center;
  /* 메뉴를 수직으로 가운데 정렬 */
  margin-bottom: 3%;
}

.reg-item {
  width: 70px;
  height: 28px;
  /* float: right; */
  background-color: rgb(221, 227, 192);
  border: none;
  border-radius: 5px;
  padding-top: 3px;
  color: rgb(117, 120, 102);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.reg-item:hover {
  background-color: rgb(209, 215, 180);
  color: rgb(105, 107, 93);
}