/* 전체 div (wrapper) */
.wrapper {
    width: 1000px;
    margin: 90px auto;
    text-align: center;
}

.text {
    text-align: center;
    margin-bottom: 1.5%;
}

/* 상품 전체 조회 화면 메뉴바 */
.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menubar__menu {
    margin-left: 10px;
}

.menubar ul {
    list-style: none;
    display: flex;
    align-items: flex-end
}

.menubar__menu li {
    margin-right: 25px;
}

.menubar__menu a {
    text-decoration: none;
    /* 밑줄 제거 */
    text-align: left;
    font-size: 120%;
    color: #000;
}

.menubar__menu a:hover {
    background-color: #ddd;
    color: black;
}

.menubar button {
    width: 100px;
    height: 30px;
    float: right;
    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    color: rgb(117, 120, 102);
    font-size: 100%;
    margin: 1%;
    padding-top: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.menubar button:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}

/* 카테고리 */
#category {
    display: flex;
}

/* 전체 상품 개수 */
.total {
    text-align: end;
}

/* 상품 table */
.content {
    margin: auto;
    border-spacing: 7px;
}

/* 셀별 패딩 설정 */
td {
    padding: 5px;
}

/* table head cell */
.table-head td {
    width: 200px;
    display: inline-block;
    border: 1px solid;
    padding: 6px;
    margin: 2px;
    box-shadow: 4px 4px 10px;
    visibility: hidden;
}

/* table 형태 유지를 위한 blank-box */
.blank-box {
    width: 200px;
    height: 270px;
    display: inline-block;
    border: 1px solid;
    padding: 6px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    visibility: hidden;
}

/* 상품 정보가 보이는 item-box */
.item-box {
    width: 200px;
    height: 270px;
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 6px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.item-box img {
    vertical-align: middle;
    border-radius: 10px;
    object-fit: cover;
}

/* 상품 설명 */
.desc {
    margin-top: 9px;
    margin-bottom: 7px;
    max-width: 95%;
    /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 가격 책정 방식 */
.status {
    margin-top: 9px;
    margin-bottom: 7px;
    max-width: 95%;
    margin-left: 5px;
    color: #757866;
}

/* 경매 상품 하단에 '경매' 표시 */
.auction_product {
    float: right;
    width: 45px;
    position: relative;
    bottom: 20px;

    background-color: #dee3c3;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 3px;
    text-align: center;
    margin-right: 2px;
    margin-top: 6px
}

/* 경매 상품의 현재 가격 */
.auction_price {
    margin-top: 2px;
    margin-bottom: 2px;
    max-width: 145px;
    /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757866;
    font-size: 11px;
}

/* 일반 결제 상품의 경우 가격 보여주기 */
.price {
    margin-top: 0px;
    margin-bottom: 7%;
    max-width: 95%;
    /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757866;
}

.item-box:hover {
    background-color: #8a8a8a68;
}

/* 페이지네이션 */
.page-nation {
    display: flex;
    padding: 0;
    justify-content: center;
}

.page-nation li {
    margin: 0 5px;
    list-style: none;
}

ul {
    padding-left: 0px;
}

.page-nation a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-nation a.active {
    background-color: #333;
    color: #fff;
}

.page-nation a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

