.wrapper {
    width: 1000px;
    cursor: default;
    margin: auto;
    margin: 75px auto;
    text-align: center;
}

.text {
    text-align: center;
    margin-bottom: 1.5%;
}

.menubar {
    display: flex;
    /* 메뉴 항목을 가로로 정렬 */
    justify-content: space-between;
    /* 메뉴를 수평으로 가운데 정렬 */
    align-items: center;
    /* 메뉴를 수직으로 가운데 정렬 */
    margin-bottom: 3%;
}

.menubar ul {
    list-style: none;
    display: flex;
    /* 메뉴 항목을 가로로 정렬 */
}

.menubar__menu li {
    margin-right: 25px;
}

.menubar__menu a {
    text-decoration: none;
    /* 밑줄 제거 */
    text-align: left;
    font-size: 120%;
    color: #000;
}

.menubar__menu a:hover {
    text-decoration: underline;
    background-color: skyblue;
}

.menubar button {
    width: 100px;
    height: 35px;
    float: right;
    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    color: rgb(117, 120, 102);
    font-size: 100%;
    margin: 1%;
    padding: 0% 0%;
}

.menubar button:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}

#category {
    display: flex;
}

.total {
    text-align: end;
}

.content {
    margin: auto;
}

table {
    border-spacing: 7px;
}

td {
    padding: 5px;
}

.blank-box {
    width: 200px;
    height: 270px;
    display: inline-block;
    border: 1px solid;
    padding: 6px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    visibility: hidden;
}

.item-box {
    width: 200px;
    height: 270px;
    display: inline-block;
    border: 1px solid #e4e4e4;
    padding: 6px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.item-box img {
    vertical-align: middle;
    border-radius: 10px;
    object-fit: cover;
}

.desc {
    margin-top: 5%;
    margin-bottom: 7%;
    max-width: 95%;
    /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.auction_product {
    background-color: #dee3c3;
    text-align: center;
    position: absolute;
    border: 0;
    outline: none;
    width: 45px;
    border-radius: 20%;
    font-size: 15px;
    margin-left: 145px;
    margin-top: 40px;
    padding-top: 3px;
}

.price {
    margin-top: 3%;
    margin-bottom: 7%;
    max-width: 95%;
    /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757866;
}

.item-box:hover {
    background-color: #8a8a8a68;
}

.page-nation {
    display: flex;
    padding: 0;
    justify-content: center;
}

.page-nation li {
    margin: 0 5px;
    list-style: none;
}

ul {
    padding-left: 0px;
}

.page-nation a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-nation a.active {
    background-color: #333;
    color: #fff;
}

.page-nation a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}