.wrapper {
    width: 1000px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
}

.text {
    text-align: center;
    margin-bottom: 1.5%;
}

.menubar {
    display: flex;
    /* 메뉴 항목을 가로로 정렬 */
    justify-content: space-between;
    /* 메뉴를 수평으로 가운데 정렬 */
    align-items: center;
    /* 메뉴를 수직으로 가운데 정렬 */
    margin-bottom: 3%;
}

.menubar ul {
    list-style: none;
    display: flex;
    /* 메뉴 항목을 가로로 정렬 */
}

.menubar__menu li {
    margin-right: 25px;
}

.menubar__menu a {
    text-decoration: none;
    /* 밑줄 제거 */
    text-align: left;
    font-size: 120%;
    color: #000;
}

.menubar__menu a:hover {
    text-decoration: underline;
    background-color: skyblue;
}

.menubar button {
    border: 1px solid;
    background-color: #fff;
    outline: none;
    font-size: 100%;
    margin-right: 8%;
    padding: 1%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3% 3% 3%
}

.menubar button:hover {
    background-color: lightgray;
}

#category{
    display: flex;
}

.total{
    text-align: right;
}

.content {
    margin: auto;
}

table{
    border-spacing: 7px;
}

.item-box {
    width: 200px; 
    height: 270px;
    display: inline-block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.item-box img {
    vertical-align: middle;
    object-fit:cover;
}


.desc {
    margin-top: 5%;
    margin-bottom: 7%;
    max-width: 95%; /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-box:hover {
    background-color: #8a8a8a68;
}

.page-nation {
    display: flex;
    padding: 0;
    justify-content: center;
}

.page-nation li {
    margin: 0 5px;
    list-style:none;
}

ul{
    padding-left: 0px;
}

.page-nation a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-nation a.active {
    background-color: #333;
    color: #fff;
}

.page-nation a {
    color: black; 
    text-decoration: none; 
    margin: 0 5px; 
}

/*
.auction_product {
    background-color: rgba(178, 34, 34, 0.658);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 18%;
    border: 0;
    outline: none;
    width: 21%;
    height: 23%;
    border-radius: 100%;
    font-size: 120%;
}
*/

