.product-registration-section {
    list-style: none;
}

.wrapper {
    width: 800px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
}

.main-title {
    margin: 5% 5% 5% 2%;
}

h4 {
    width: 200px;
    margin: 2% 10% 2% 0%;
}

li {
    display: flex;
}

.inside {
    margin: 2% 10% 2% 0%;
}

textarea {
    width: 299%;
    resize: none;
    padding: 5%;
}

.input-name {
    width: 50%;
    padding: 1% 250px 1% 1%;
}

.input-location {
    width: 50%;
    padding: 1% 250px 1% 1%;
}

.input-tag {
    width: 50%;
    padding: 1% 250px 1% 1%;
}

.input-quantity {
    width: 60%;
    padding: 1% 50px 1% 1%;
}

.contact-information-text {
    width: 75%;
    padding: 1.5% 50px 1.5% 1%;
}

.fixed-pricing-text {
    width: 70%;
    padding: 1% 40px 1% 1%;
    margin: 5% 1% 1% 1%;
}

.auction-section {
    width: 200%;
}

.input-start-price-text{
    width: 50%;
    padding: 1% 1% 1% 1%;
}

.fixed-pricing-box {
    width: 105%;
}

.select-rising-price-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.select-rising-price {
    width: 20%;
    padding: 1.7% 0% 1.7% 0%;
}

.input-auction-time {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.product-registration-end-button {
    float: right;
    width: 12%;
    padding: 1.3% 0% 1.3% 0%;
}

hr {
    border: 1.5px solid rgb(163, 223, 249);
}