textarea {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    resize: none;
}

.asterisk {
    color: red;
}

.stars {
    color: rgb(117, 120, 102);
    font-size: 180%;
    margin-top: -0.9%;
    margin-bottom: 1%;
}

.wrapper {
    width: 700px;

    margin: 75px auto;
    text-align: center;
}

.text1 {
    margin-bottom: 3%;
}

.text2 {
    margin-top: 4%;
    margin-bottom: 2%;
}

.text3 {
    margin-top: 3%;
    margin-bottom: 1.5%;
}

#buyer-id,
#seller-id,
#stars-variable {
    display: none;
}

#review-image {
    margin-left: 21%;
}

#ok {
    float: right;
    width: 14%;

    background-color: rgb(221, 227, 192);
    border: none;
    border-radius: 5px;
    color: rgb(117, 120, 102);
    font-size: 95%;
    margin: 1%;
    padding: 0.5% 0%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#ok:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(105, 107, 93);
}

label {
    width: 14%;

}

.reg-file-box {
    margin: 0% 0% 0% 32%;
    width: 100%;
    display: flex;
}

#file {
    display: none;
}

.file-upload-button {
    width: 80px;
    height: 22px;
    background-color: #EFEFEF;
    font-size: 80%;
    color: rgb(120, 119, 119);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    position: relative;
}

.file-upload-text {
    position: absolute;
    top: -11px;
    left: 6.5px;
}
