.product-registration-section {
    list-style: none;
    padding: 0%;
}

.wrapper {
    width: 850px;
    cursor: default;
    margin: 75px auto;
}

.main-title {
    width: 15%;
    margin: 5% 5% 5% 3%;
}


.middle-title {
    width: 120px;
    margin: 4% 5% 4% 3%;
    font-size: 105%;
}

li {
    display: flex;
}

.inside {
    margin: 4% 0% 4% 0%;
}

.file-upload-button {
    width: 200px;
    height: 200px;
    border: solid rgb(208, 208, 208);
    background-repeat : no-repeat;
    background-position : 50% 38%;
    background-size : 40% 40%;
    background-image: url("/static/images/camera_icon.png");
    opacity: 0.5;
    position: relative;
    float: left;
}



.file-upload-text {
    font-size: 85%;
    position: absolute;
    left: 32%;
    top: 56%;
}

.input-image {
    width: 200px;
    height: 200px;
    border: solid rgb(208, 208, 208);
    background-repeat : no-repeat;

}

#file {
    display: none;
}

textarea {
    width: 316%;
    resize: none;
    padding: 5% 0% 5% 5%;
    font-size: 90%;
}

.input-text {
    width: 330%;
    padding: 5% 0% 5% 5%;
    font-size: 90%;
}

.input-quantity {
    width: 60%;
    padding: 1.8% 0% 1.8% 1.8%;
    font-size: 90%;

}

.middle-hr {
    border: 1.5px solid rgb(240, 240, 240);
    width: 100%;
}

.input-quntity-box {
    width: 230%;
}

.contact-information-text {
    width: 75%;
    padding: 1.5% 50px 1.5% 1%;
}

.fixed-pricing-text {
    width: 69%;
    padding: 1% 40px 1% 1%;
    margin: 5% 1% 1% 1%;
}

.auction-section {
    width: 200%;
}

.input-start-price-text{
    width: 40%;
    padding: 0.6% 0.6% 0.6% 0.6%;
}

.fixed-pricing-box {
    width: 110%;
}

.select-rising-price-section {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.select-rising-price {
    width: 20%;
    padding: 1.7% 0% 1.7% 0%;
}

.input-auction-time {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.product-registration-end-button {
    float: right;
    width: 12%;
    padding: 1.3% 0% 1.3% 0%;
    margin: 2.5% 0% 0% 0%;
    background-color:  rgb(221, 227, 192);
    color: rgb(117, 120, 102);
    border-radius: 10px;
    border: 3px solid  rgb(221, 227, 192);
}

.product-registration-end-button:hover {
    background-color: rgb(209, 215, 180);
    color: rgb(122, 125, 103);
    border: 3px solid rgb(209, 215, 180);
}
