/* 네비게이션 바 디자인 정의 */
#navbar-gra {
  height: 10px;
  background-image: linear-gradient(to bottom, rgb(207, 207, 207), white);
}

.navbar {
  background-color: white;
  /* 네비게이션 바 배경색 설정 */
  display: flex;
  /* 요소를 가로로 정렬 */
  justify-content: space-between;
  /* 좌우에 요소를 분배 */
  padding: 10px 40px;
}

.navbar__logo a {
  font-size: 20px;
  /* 폰트 크기 설정 */
  text-decoration: none;
  /* 밑줄 제거 */
  color: black;
  /* 텍스트 색상 설정 */
}

.navbar__menu {
  list-style: none;
  /* 점 제거 */
  display: flex;
  /* 요소를 가로로 정렬 */
}

.navbar__menu li {
  margin: 0px 15px;
  /* 메뉴 간격 설정 */
}

.navbar__menu a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: black;
  /* 텍스트 색상 설정 */
}

/* 호버 효과 (마우스를 메뉴 위로 올릴 때) */
.navbar__menu a:hover {
  color: rgb(85, 172, 209);
  /* 호버 시 텍스트 색상 변경 */
}

.navbar__login {
  list-style: none;
  /* 리스트 스타일 제거 */
  display: flex;
  /* 요소를 가로로 정렬 */
}

.navbar__login li {
  margin-left: 15px;
  /* 메뉴 간격 설정 */
  margin-right: 15px;
  /* 메뉴 간격 설정 */
}

.navbar__login a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: black;
  /* 텍스트 색상 설정 */
}

/* 호버 효과 (마우스를 메뉴 위로 올릴 때) */
.navbar__login a:hover {
  color: rgb(85, 172, 209);
  /* 호버 시 텍스트 색상 변경 */
}

/* 공통 디자인 정의 */
* {
  cursor: default;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'NanumSquareBold', Arial;
}

hr {
  border: 1.5px solid rgb(163, 223, 249);
  width:100%;
}