@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 네비게이션 바 디자인 정의 */
.navbar {
  background-color: rgb(221, 227, 192);
  /* 네비게이션 바 배경색 설정 */
  display: flex;
  /* 요소를 가로로 정렬 */
  justify-content: space-between;
  /* 좌우에 요소를 분배 */
  padding: 15px 50px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  /* 수직 가운데 정렬 */
}

.navbar__logo a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: rgb(117, 120, 102);
  /* 텍스트 색상 설정 */
  font-size: 140%;
  font-family: 'GmarketSansBold';
}

.navbar__login {
  list-style: none;
  /* 리스트 스타일 제거 */
  display: flex;
  /* 요소를 가로로 정렬 */
}

.navbar__login li {
  margin: 0px 15px;
  /* 메뉴 간격 설정 */
}

.navbar__login a {
  text-decoration: none;
  /* 밑줄 제거 */
  color: rgb(117, 120, 102);
  /* 텍스트 색상 설정 */
}

/* 호버 효과 (마우스를 메뉴 위로 올릴 때) */
.navbar__login a:hover {
  color: rgb(255, 152, 152)
  /* 호버 시 텍스트 색상 변경 */
}

/* 공통 디자인 정의 */
* {
  cursor: default;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'GmarketSansMedium';
}

hr {
  border: 1.5px solid rgb(208, 208, 208);
  width: 100%;
}

body {
  margin: 0px;
}