.navbar {
  background-color: #333; /* 네비게이션 바 배경색 설정 */
  color: #fff; /* 텍스트 색상 설정 */
  display: flex; /* 요소를 가로로 정렬 */
  justify-content: space-between; /* 좌우에 요소를 분배 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 10px 40px;
}

.navbar__logo a {
  font-size: 20px; /* 폰트 크기 설정 */
  text-decoration: none; /* 밑줄 제거 */
  color: #fff; /* 텍스트 색상 설정 */
}

.navbar__menu {
  list-style: none; /* 리스트 스타일 제거 */
  display: flex; /* 요소를 가로로 정렬 */
}

.navbar__menu li {
  margin-left: 30px; /* 메뉴 간격 설정 */
  margin-right: 30px; /* 메뉴 간격 설정 */
}

.navbar__menu a {
  text-decoration: none; /* 밑줄 제거 */
  color: #fff; /* 텍스트 색상 설정 */
}

/* 호버 효과 (마우스를 메뉴 위로 올릴 때) */
.navbar__menu a:hover {
  color: #ffcc00; /* 호버 시 텍스트 색상 변경 */
}

.navbar__login {
  list-style: none; /* 리스트 스타일 제거 */
  display: flex; /* 요소를 가로로 정렬 */
  /*float: right;*/
  /*justify-content: flex-end; /* 오른쪽 정렬 */
}

.navbar__login li {
  margin-left: 20px; /* 메뉴 간격 설정 */
  margin-right: 20px; /* 메뉴 간격 설정 */
}

.navbar__login a {
  text-decoration: none; /* 밑줄 제거 */
  color: #fff; /* 텍스트 색상 설정 */
}

/* 호버 효과 (마우스를 메뉴 위로 올릴 때) */
.navbar__login a:hover {
  color: #ffcc00; /* 호버 시 텍스트 색상 변경 */
}