*{
    font-family: 'Courier New';
}
body{
    padding: 200px;
}
h1{
    text-align: center;
}
.text {
    text-align: center;
    font-size: 135%;
    margin-bottom: 1.5%;
}
hr{
    border: 1px solid skyblue;
}
.menubar {
    display: flex; /* 메뉴 항목을 가로로 정렬 */
    justify-content: space-between; /* 메뉴를 수평으로 가운데 정렬 */
    align-items: center; /* 메뉴를 수직으로 가운데 정렬 */
}

.menubar ul {
    list-style: none;
    display: flex; /* 메뉴 항목을 가로로 정렬 */
}

.menubar__menu li {
    margin-left: 20px; /* 메뉴 간격 설정 */
    margin-right: 20px;
    margin-bottom: 20px;
}

.menubar__menu a {
    text-decoration: none; /* 밑줄 제거 */
    text-align: left;
    font-size: 20px;
    color: #000;
}

.menubar__menu a:hover{
    text-decoration: underline;
    background-color: skyblue;
}

.menubar button{
    border: 1px solid;
    background-color: #fff;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 1px
}

.menubar button:hover{
    background-color: lightgray;
}

.product_list{
    display: flex;
    text-align: center;
    flex-wrap: wrap; /* 열 대신 행으로 정렬 */
}
.product{
    width: calc(33.33% - 10px);
    margin-bottom: 30px;
    position: relative;
}

.product img{
    border: 0.3px solid black;
    vertical-align: middle;
}
.auction_product{
    background-color:firebrick;
    text-align: center;
    position: absolute;
    top:50%;
    left: 25%;
    border: 0;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
}

.desc{
    margin-top: 10px;
    margin-bottom: 20px;
}

.product img:hover{
    border: 0.3px solid skyblue;
}

.pagination{
    display: flex; /* 메뉴 항목을 가로로 정렬 */
    justify-content: center;
    list-style: none;
}
.pagination li {
    margin: 10px;
    text-align: center;
    align-items: center;
}
.pagination a{
    color: black;
}

.pagination a:hover{
    color:blue;
}