* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 135%;
    font-weight: bold !important;
}

hr {
    border: 1.5px solid rgb(163, 223, 249);
    width: 100%;
}

.sell {
    padding: 10px;
    border-bottom: 1.5px solid rgb(163, 223, 249);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    width: 700px;
    max-width: 600px;
}

.count_list {
    font-size: 13px;
    padding-right: 550px;
}

/*상품 사진*/
.sell img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 20px;
}

/*내용*/
.content {
    display: flex;
    align-items: center;
}
.content div {
    flex: 1;
    text-align: left;
}
.content p {
    margin: 5px 0;
}
.sell p {
    display: flex;
    text-align: left;
    margin: 5px 0;
}

/*유저 아이디*/
.sell .id_seller {
    font-weight: bold;
    flex: 1;
    color:  rgb(163, 223, 249);
    text-decoration: underline;
}


/*내부 네비바*/
.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*
* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1.5px solid rgb(163, 223, 249);
    width: 100%;
}

.text {
    font-size: 135%;
}

.sell {
    padding: 10px;
    border-bottom: 1.5px solid rgb(163, 223, 249);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;

    width: 700px;
    max-width: 600px;
}

.sell p {
    display: flex;
    text-align: left;
}

.sell img {
    width: 150px;
    
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.sell .user {
    font-weight: bold;
    margin-right: 35px;
}

.rating p {
    color: skyblue;
    display: flex;
}

h2 {
    text-align: center;
    padding: 10px;
}

.line {
    border-top: 1.5px solid rgb(163, 223, 249);
    width: 90%;
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.completed1 {
    background-color: rgb(113, 184, 220);
    color: black;
    padding: 10px;
    border-color: beige;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    margin-top: 2%;
    font-size: 11px;

}

.completed2 {
    background-color: palevioletred;
    color: black;
    padding: 10px;
    border-color: beige;
    border-radius: 10px;
    width: 47px;
    height: 35px;
    margin-top: 2%;
    font-size: 11px;
}


.checkboxes {
    display: flex;
}

.checkbox {
    margin-right: 470px;
    padding: 10px;
}
*/
