* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 135%;
    font-weight: bold !important;
}

.line1 {
    border: 1.5px solid rgb(163, 223, 249);
    width: 100%;
}

.line2 {
    border: 0.5px solid rgb(38, 83, 103);
    width: 90%;
}

.review {
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 700px;
    max-width: 600px;
}


/*리뷰 개수 표시*/
.count_review {
    font-size: 13px;
    padding-right: 550px;
}

/*리뷰 사진*/
.review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 20px;
}

/*리뷰 내용*/
.review-content {
    display: flex;
    align-items: center;
}
.review-content div {
    flex: 1;
    text-align: left;
}
.review-content p {
    margin: 5px 0;
}
.review p {
    display: flex;
    text-align: left;
    margin: 5px 0;
}

/*유저 아이디*/
.review .user {
    font-weight: bold;
    flex: 1;
}

/* 별점 색상 */
.review .rating {
    color: skyblue;

}

/*내부 네비바*/
.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*페이지네이션*/
.page-nation {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.page-nation li {
    margin: 0 5px;
    list-style: none;
}

.page-nation a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-nation a.active {
    background-color: #333;
    color: #fff;
}

.page-nation a {
    color: black; 
    text-decoration: none; 
    margin: 0 5px; 
}