.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line1 {
    border: 1.5px solid rgb(208, 208, 208);
    width: 100%;
}

table{
    border-spacing: 7px;
    table-layout: fixed;
}

.blank-box{
    width: 200px; 
    height: 270px;
    display: inline-block;
}

.item-box {
    width: 200px; 
    height: 270px;
    display: inline-block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.item-box img {
    vertical-align: middle;
    object-fit:cover;
}


.desc {
    margin-top: 5%;
    margin-bottom: 7%;
    max-width: 95%; /* Adjust as needed */
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-box:hover {
    background-color: #8a8a8a68;
}

/*.sell {
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    width: 700px;
    max-width: 600px;
}
*/

/*상품 개수 표시*/
.count_list {
    font-size: 13px;
    padding-right: 550px;
}

/*상품 사진
.sell img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 20px;
}

내용
.content {
    display: flex;
    align-items: center;
}
.content div {
    flex: 1;
    text-align: left;
}
.content p {
    margin: 5px 0;
}
.sell p {
    display: flex;
    text-align: left;
    margin: 5px 0;
}

유저 아이디
.sell .id_seller {
    font-weight: bold;
    flex: 1;
    color:  rgb(82, 155, 187);
    text-decoration: underline;
}
*/


/*내부 네비바*/
.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.page-nation {
    display: flex;
    padding: 0;
    justify-content: center;
}

.page-nation ul {
    padding-left: 0px;
}

.page-nation li {
    margin: 0 5px;
    list-style:none;
}

ul{
    padding-left: 0px;
}

.page-nation a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-nation a.active {
    background-color: #333;
    color: #fff;
}

.page-nation a {
    color: black; 
    text-decoration: none; 
    margin: 0 5px; 
}