* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 135%;
    font-weight: bold !important;
}

.line1 {
    border: 1.5px solid rgb(163, 223, 249);
    width: 100%;
}

.line2 {
    border: 0.5px solid rgb(38, 83, 103);
    width: 90%;

}

.sell {
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    width: 700px;
    max-width: 600px;
}
/*상품 개수 표시*/
.count_list {
    font-size: 13px;
    padding-right: 550px;
}

/*상품 사진*/
.sell img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding-right: 20px;
}

/*내용*/
.content {
    display: flex;
    align-items: center;
}
.content div {
    flex: 1;
    text-align: left;
}
.content p {
    margin: 5px 0;
}
.sell p {
    display: flex;
    text-align: left;
    margin: 5px 0;
}

/*유저 아이디*/
.sell .id_seller {
    font-weight: bold;
    flex: 1;
    color:  rgb(82, 155, 187);
    text-decoration: underline;
}


/*내부 네비바*/
.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}