.count_review {
    font-size: 13px;
    padding-right: 550px;
}

.text {
    font-size: 135%;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating p {
    color: skyblue;
    display: flex;
}

.text {
    font-size: 135%;
}

.review {
    padding: 10px;
    border-bottom: 1.5px solid rgb(163, 223, 249);
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;

    align-items: center;
    width: 700px;
    max-width: 600px;
}

.review img {
    width: 100px;
    /* 이미지 크기 */
    height: 100px;
    object-fit: cover;
    /* 이미지 비율 유지 */
    margin-right: 20px;
}

.review p {
    display: flex;
    text-align: left;
}

.review .user {
    font-weight: bold;
    flex: 1;
}

.review .rating {
    color: skyblue;
    /* 별점 색상 */
}

h2 {
    text-align: center;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}

.pagination a:hover {
    color: blue;
}
