<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <link rel="stylesheet" href="/static/details_of_item_fixed.css" />

    <div class="wrapper">
        <div class="text">상품 세부화면</div>
        <hr>
        <div class="container">

            <div class="columnleft">
                <img style="border-radius: 10px 10px; box-shadow: 0 3px 3px rgba(0,0,0,0.2)"
                    src="/static/images/items/{{data.img_path}}" width="320" alt="item">
            </div>

            <div class="columnright">
                <div class="alignleft">
                    <a href="/user_reviews/{{data.sellerId}}/"><img src="/static/images/profiles/{{profile_image_path}}"
                        id="profile"></a>
                    <div id="user-id"><a href="/user_reviews/{{data.sellerId}}/">{{data.sellerId}}<a></div>
                    <h2>{{data.name}}</h2>

                    <table>
                        <tr>
                            <th>가격</th>
                            <td>{{data.fixedPrice}}</td>
                            <th>상품상태</th>
                            <td>{% if data['status'] == "lnew" %}
                                거의 새 상품<br>
                                {% endif %}
                                {% if data['status'] == "new" %}
                                새 상품<br>
                                {% endif %}
                                {% if data['status'] == "used" %}
                                중고 상품<br>
                                {% endif %}</td>
                        </tr>
                        <th>연락처</th>
                        <td>{{data.phone}}</td>
                        <tr>
                            <th>거래방식</th>
                            <td>{%if data['method'] == "delivery"%}
                                택배거래<br>
                                {% endif %}
                                {%if data['method'] == "direct"%}
                                직거래<br>
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <th>거래지역</th>
                            <td>{{data.location}}</td>
                        </tr>
                        <tr>
                            <th>수량</th>
                            <td>{{data.quantity}}</td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td>{{data.category}}</td>
                        </tr>
                        <tr>
                            <th>태그</th>
                            <td>{{data.tag}}</td>
                        </tr>
                    </table>
                    <br>
                </div>
                <div class="favorite-button">
                    <input class="btn-love" type="button" value="♡ 찜하기">
            </div>
            
            </div>
        </div>

        <div class="down">
            <div class="more">
                <hr style="width:100%">
                <ul>
                    <li>
                        <a1 href="#" style="background-color:rgb(219, 236, 243);">추가정보</a1>
                    </li>
                    <li>
                        <a1>|</a1>
                    </li>
                    <li>
                        <a1 href="#" style="background-color:rgb(219, 236, 243);">댓글(1)</a1>
                    </li>
                </ul>
            </div>

            <br><br>

            <div class="comment">
                <p>
                <div class="boldtext">상품설명</div>
                {{data.description}}
                </p>
            </div>

            <br>
        </div>
    </div>
    <script src="/static/details_of_item.js"></script>
    {% endblock section %}
</body>

</html>