<!DOCTYPE html> 
<html lang="en"> 
    <style>
        .fakeimg{
                background-color: #ffecaf;
                width: 100%;
                height: auto;
            }
            iframe{
                border: none;
            }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head> 

<body>
    <div class="row">
        <div class="column left">
            <div class="card">
                <h2>photo</h2>
                <div class="fakeimg">
                    <iframe src="/Users/yangdongseon/Desktop/오소플 실습/실습3_양동선_2271037/
                    cuteboy.jpeg" alt="CAT" width="600" height="400"></iframe>
                </div>
        
        </div>
        <div class="column right">
        <h2>Main Content</h2>
        <title>갤럭시 워치4 LTE모델 40인치</title>
        <style>
            table, th, td{
            border:1px solid blue;
            }
        </style>
            <table style="float:left;">
                <tr>
                    <th>가격</th><td>10000</td>
                </tr>
                    <th>상태</th><td>좋음</td>
                </tr>
                    <th>브랜드</th><td>삼성</td>
                </tr>
            
            </table>
        </div>
    
</body>




<footer>
    <h3>If you have any further questions for me, press the email button on the top right
    and send me an email!
    </h3>
    </footer>
</html>
