<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/details_of_review.css" />
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <div class="wrapper">
        <a href="/user_list/{{data.buyerId}}/" id="profile-link">
            <img src="/static/images/profiles/{{profile_image_path}}" id="profile">
        </a>
        <div id="user-id"><a href="/user_list/{{data.buyerId}}/">{{data.buyerId}}<a></div>
        <div id="review-title">{{data.reviewTitle}}</div>
        <div class="stars">
            <div id="stars-variable">{{data.starsVariable}}</div>
            <span class="star" id="0">★</span>
            <span class="star" id="1">★</span>
            <span class="star" id="2">★</span>
            <span class="star" id="3">★</span>
            <span class="star" id="4">★</span>
        </div>
        <hr>
        <img src="/static/images/reviews/{{data.img_path}}" id="product-image">
        <br>
        <div id="review-contents">{{data.reviewContents}}</div>
        <br>
        <button name="good" id="good">👍 {{good}}</button>
        <button name="bad" id="bad">👎 {{bad}}</button>
        <input type="button" onclick="location.href='/delete_review/{{key}}/{{data.sellerId}}/';" value="삭제하기"
            id="delete">
    </div>

    <script>
        function starFill() {
            star = parseInt(document.getElementById("stars-variable").innerHTML);
            stars = document.getElementsByClassName("star");
            for (i = 0; i < stars.length; i++) {
                if (i > star) {
                    stars.item(i).innerHTML = "☆";
                } else {
                    stars.item(i).innerHTML = "★";
                }
            }
        }
        starFill();

        // -1은 bad, 0은 none, 1은 good
        function showHeart() {
            $.ajax({
                type: 'GET',
                url: '/show_review_heart/{{sellerId}}/{{key}}/',
                data: {},
                success: function (response) {
                    let heart = response['heart'];
                    if (heart['heart'] == "1") {
                        $("#good").css("background-color", "rgb(163, 223, 249, 0.75)");
                        $("#good").css("color", "rgb(61, 140, 174)");
                        $("#good").mouseenter(function () {
                            $(this).css("background-color", "rgb(166, 208, 225)");
                        }).mouseleave(function () {
                            $(this).css("background-color", "rgb(163, 223, 249, 0.75)")
                        });
                        $("#good").attr("onclick", "cancel()");
                        $("#bad").attr("onclick", "bad()");
                    } else if (heart['heart'] == "-1") {
                        $("#bad").css("background-color", "pink");
                        $("#bad").css("color", "rgb(156, 87, 87)");
                        $("#bad").mouseenter(function () {
                            $(this).css("background-color", "rgb(235, 180, 189)");
                        }).mouseleave(function () {
                            $(this).css("background-color", "pink")
                        });
                        $("#good").attr("onclick", "good()");
                        $("#bad").attr("onclick", "cancel()");
                    } else {
                        $("#good").attr("onclick", "good()");
                        $("#bad").attr("onclick", "bad()");
                    }
                }
            });
        }

        function good() {
            $.ajax({
                type: 'POST',
                url: '/update_review_heart/{{sellerId}}/{{key}}/1',
                data: {
                    heart: 1
                },
                success: function (response) {
                    window.location.reload()
                }
            });
        }

        function bad() {
            $.ajax({
                type: 'POST',
                url: '/update_review_heart/{{sellerId}}/{{key}}/-1',
                data: {
                    heart: -1
                },
                success: function (response) {
                    window.location.reload()
                }
            });
        }

        function cancel() {
            $.ajax({
                type: 'POST',
                url: '/update_review_heart/{{sellerId}}/{{key}}/0',
                data: {
                    heart: 0
                },
                success: function (response) {
                    window.location.reload()
                }
            });
        }

        function alertLogin() {
            alert("로그인이 필요합니다.");
            location.href = "/login";
        }

        if ("{{session['id']}}" != "") {
            showHeart();
        }
        else {
            $("#good").attr("onclick", "alertLogin()");
            $("#bad").attr("onclick", "alertLogin()");
        }

        if ("{{data.img_path}}" == "empty.jpeg") {
            document.getElementById("product-image").style.display = "none";
        }

        if ("{{session['id']}}" != "{{data.buyerId}}") {
            document.getElementById("delete").style.display = "none";
        }
    </script>
    {% endblock section %}
</body>

</html>