<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <link rel="stylesheet" href="/static/details_of_item.css" />
    <div class="wrapper">
        <h2>상품 세부화면</h2>
        <hr>
        {% comment %} 수직선 기준 위쪽 컨테이너 {% endcomment %}
        <div class="container">
            {% comment %} 상품 사진 {% endcomment %}
            <div class="columnleft">
                <img src="/static/images/items/{{data.img_path}}" width="320" alt="item">
                </div>
            {% comment %} 상품 설명 {% endcomment %}
            <div class="columnright">
                <div class="alignleft">
                    {% comment %} 판매자 정보 {% endcomment %}
                    <a href="/user_list/{{data.sellerId}}/"><img src="/static/images/profiles/{{profile_image_path}}"
                        id="profile"></a>
                    <div id="user-id"><a href="/user_list/{{data.sellerId}}/" style=" color: rgb(91, 100, 47); font-size : 110%;
                                text-decoration: none;" id="seller-id">{{data.sellerId}}<a></div>
                    <br>
                    {% comment %} 상품 제목 및 설명 table{% endcomment %}
                    <h2>{{data.name}}</h2>
                    <table>
                        <tr>
                            <th>상품상태</th>
                            <td>{{data.status}}</td>
                        </tr>
                        <th>연락처</th>
                        <td>{{data.phone}}</td>
                        <tr>
                            <th>거래방식</th>
                            <td>{{data.method}}</td>
                        </tr>
                        <tr>
                            <th>거래지역</th>
                            <td>{{data.location}}</td>
                        </tr>
                        <tr>
                            <th>수량</th>
                            <td>{{data.quantity}}</td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td>{{data.category}}</td>
                        </tr>
                    </table>
                    <br>
                </div>
                {% comment %} 찜하기 버튼 {% endcomment %}
                <div class="favorite-button">
                    <input class="btn-love" type="button" value="♡ 찜하기">
                </div>

            </div>
        </div>
        {% comment %} 수직선 기준 하단 부분{% endcomment %}
        <div class="down">
            <hr>
            {% comment %} 상품설명 {% endcomment %}
            <div class="comment">
                <p>
                <div class="boldtext">상품설명</div>
                {{data.description}}
                </p>
            </div>
            <br>
            {% comment %} 경매 참여하기 기능 {% endcomment %}
            <div class="auction">
                <div class="boldtext">경매 참여하기</div>
                <span style="color: red"><span id="auction-state"></span></span>
                    <br>
                    현재 가격: <span id="current" style="color: blue"></span>
                    <input class="btn-money" id="btnMoney" type="button" value="">
                    <span>{{winner}}</span>
            </div>
        {% comment %} 상품 삭제하기 버튼 {% endcomment %}
        </div>
        <input type="button" onclick="location.href='/delete_item/{{key}}/{{data.sellerId}}/';" value="삭제하기"
            id="delete">
    </div>

    <script>
        if ("{{session['id']}}" != "{{data.sellerId}}") {
            document.getElementById("delete").style.display = "none";
        }

        currentPrice = Number("{{data.currentPrice}}");
        risingPrice = Number("{{data.selectRisingPrice}}");
        document.getElementById("current").innerHTML = currentPrice + "원";

        auctionState = false;
        function auction() {
            if (auctionState == true) {
                $.ajax({
                    type: 'POST',
                    url: '/auction/{{key}}/{{data.sellerId}}/{{data.selectRisingPrice}}/',
                    data: {},
                    success: function (response) {
                        window.location.reload();
                        alert(response['msg']);
                    }
                });
            } else {
                alert("입찰할 수 없습니다.");
            }
        }

        btnMoney = document.getElementById("btnMoney");
        btnMoney.addEventListener("click", auction);
        // 버튼 이름 바꾸기
        if (risingPrice == 1000) {
            btnMoney.value = "▲천원"
        } else if (risingPrice == 5000) {
            btnMoney.value = "▲5천원"
        } else if (risingPrice == 10000) {
            btnMoney.value = "▲만원"
        } else if (risingPrice == 50000) {
            btnMoney.value = "▲5만원"
        }

        startDate = ("{{data.startDate}}").split("-");
        startTime = ("{{data.startTime}}").split(":");
        endDate = ("{{data.endDate}}").split("-");
        endTime = ("{{data.endTime}}").split(":");
        function remaingTime() {
            var now = new Date();
            var open = new Date(Number(startDate[0]), Number(startDate[1]) - 1, Number(startDate[2]), Number(startTime[0]), Number(startTime[1]));
            var end = new Date(Number(endDate[0]), Number(endDate[1]) - 1, Number(endDate[2]), Number(endTime[0]), Number(endTime[1]));

            var nt = now.getTime();
            var ot = open.getTime();
            var et = end.getTime();

            if (parseInt(nt) < parseInt(ot)) { // 오픈 전
                auctionState = false;
                sec = parseInt(ot - nt) / 1000;
                day = parseInt(sec / 60 / 60 / 24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec / 60 / 60);
                sec = (sec - (hour * 60 * 60));
                min = parseInt(sec / 60);
                sec = parseInt(sec - (min * 60));
                if (hour < 10) { hour = "0" + hour; }
                if (min < 10) { min = "0" + min; }
                if (sec < 10) { sec = "0" + sec; }

                if (day > 0)
                    document.getElementById("auction-state").innerHTML = "오픈까지 " + day + "일 " + hour + "시간 " + min + "분 " + sec + "초";
                else
                    document.getElementById("auction-state").innerHTML = "오픈까지 " + hour + "시간 " + min + "분 " + sec + "초";
            } else if (parseInt(nt) > parseInt(et)) { // 종료
                auctionState = false;
                document.getElementById("auction-state").innerHTML = "종료되었습니다."
            } else { // 진행 중
                auctionState = true;
                sec = parseInt(et - nt) / 1000;
                day = parseInt(sec / 60 / 60 / 24);
                sec = (sec - (day * 60 * 60 * 24));
                hour = parseInt(sec / 60 / 60);
                sec = (sec - (hour * 60 * 60));
                min = parseInt(sec / 60);
                sec = parseInt(sec - (min * 60));
                if (hour < 10) { hour = "0" + hour; }
                if (min < 10) { min = "0" + min; }
                if (sec < 10) { sec = "0" + sec; }

                if (day > 0)
                    document.getElementById("auction-state").innerHTML = "남은 시간: " + day + "일 " + hour + "시간 " + min + "분 " + sec + "초";
                else
                    document.getElementById("auction-state").innerHTML = "남은 시간: " + hour + "시간 " + min + "분 " + sec + "초";
            }
        }
        remaingTime();
        setInterval(remaingTime, 1000);

        // 찜하기 했었는지 조회하기
        function showHeart() {
            $.ajax({
                type: 'GET',
                url: '/show_heart/{{key}}/',
                data: {},
                success: function (response) {
                    updateHeartButton(response['my_heart']);
                }
            });
        }
        // 데베에서 찜하기 상태를 update
        function updateHeartButton(myHeart) {
            if (myHeart['interested'] === 'Y') {
                $(".btn-love").val("♥ 찜하기");
                $(".btn-love").attr("onclick", "unlike()");
            } else {
                $(".btn-love").attr("onclick", "like()");
            }
        }

        // 찜하기 버튼을 눌렀을 때
        function like() {
            $.ajax({
                type: 'POST',
                url: '/like/{{key}}/',
                data: {
                    interested: "Y"
                },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    handleRequestError(xhr);
                }
            });
        }
        // 찜하기 버튼을 취소했을 때
        function unlike() {
            $.ajax({
                type: 'POST',
                url: '/unlike/{{key}}/',
                data: {
                    interested: "N"
                },
                success: function (response) {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    handleRequestError(xhr);
                }
            });
        }
        // 오류 핸들링
        function handleRequestError(xhr) {
            var response = xhr.responseJSON;
            if (response && response.error) {
                alert(response.error);
                if (response.redirect_url) {
                    window.location.href = response.redirect_url;
                }
            } else {
                alert('알 수 없는 오류가 발생했습니다.');
            }
        }

        $(document).ready(function () {
            showHeart();
        });
    </script>
    {% endblock section %}
</body>