<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../../../static/style.css?after" id="style-css">
  <script src="../../../static/main.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/"><img src="../../../static/images/logo.png" id="navbar-logo" alt="이화마켓" height="40px"></a>
    </div>
    <ul class="navbar__menu">
      <li><a href="/reg_item">Register Items</a></li>
      <li><a href="/user_reviews/{{session['id']}}/">User Review</a></li> <!--일단 누르면 현재 세션의 아이디로 들어가게 함-->
    </ul>
    <ul class="navbar__login">
      <li><a href="/list">모두의 마켓</a></li>
      {% if session['id'] %}
      <li><a href="/my_page" id="nav-mypage">{{session['id']}}님의 마이 페이지</a></li>
      <li><a href="/logout" id="nav-logout">로그아웃</a></li>
      {% else %}
      <li><a href="/login" id="nav-login">로그인</a></li>
      <li><a href="/signup" id="nav-signup">회원가입</a></li>
      {% endif %}
    </ul>
  </nav>
  <div id="navbar-gra"></div>
  <section>
    {% block section %}

    {% endblock section %}
  </section>
</body>

</html>