{% extends "index.html" %}

{% block section %}

<head>
    <link rel="stylesheet" type="text/css" href="../static/style_product_list.css">
</head>

<body>
    <div class="wrapper">
        <div class="text">상품 리스트</div>
        <hr>
        <div class="menubar">
            <ul class="menubar__menu">
                <li><a href="product_list.html">전체 상품</a></li>
                <li><a href="auction_list.html">경매</a></li>
                <li><a href="list.html" style="text-decoration: underline;">일반 결제</a></li>
            </ul>
            <button type="button">상품 등록하기</button>
        </div>
        <div class="content">
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product1" width="200px" height="200px">
                </a>
                <div class="desc">Product 1</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product2" width="200px" height="200px">
                </a>
                <div class="desc">Product 2</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product3" width="200px" height="200px">
                </a>
                <div class="desc">Product 3</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product4" width="200px" height="200px">
                </a>
                <div class="desc">Product 4</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product5" width="200px" height="200px">
                </a>
                <div class="desc">Product 5</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product6" width="200px" height="200px">
                </a>
                <div class="desc">Product 6</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product7" width="200px" height="200px">
                </a>
                <div class="desc">Product 7</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product8" width="200px" height="200px">
                </a>
                <div class="desc">Product 8</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product9" width="200px" height="200px">
                </a>
                <div class="desc">Product 9</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product10" width="200px" height="200px">
                </a>
                <div class="desc">Product 10</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product11" width="200px" height="200px">
                </a>
                <div class="desc">Product 11</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product12" width="200px" height="200px">
                </a>
                <div class="desc">Product 12</div>
            </div>
        </div>
        <ul class="pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
        <hr>
    </div>
</body>

{% endblock section %}