{% extends "index.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
<script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<div class="login-wrapper">
  <br><h1>로그인</h1><br>
  <form action = "#" method="post" id="login-form">
    <p style="font-size: 20px;">ID : </p>
    <input type="text" name="id">
    <p style="font-size: 20px;">password : </p>
    <input type="password" name="pw"><br><br>
    <input type="submit" value="로그인"/><br>
  </form>
  <!-- <p>아직 회원이 아니신가요?</p> -->
  <a href="/signup"><button onclick="/signup" id="signup-btn">회원가입</button></a>
</div>
{% endblock section %}