{% extends "index.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
  <script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<!-- <script src="../static/main.js" defer></script> -->
<style>
  .login-wrapper {
    width: 700px;
    height: 350px;
    padding: 40px;
    margin: auto;
    box-sizing: border-box;
  }

  #login-title {
    font-size: 135%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  hr {
    background-color: #65ACFF;
    border: 2px solid #65ACFF;
  }

  #login-form>input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    background-color: #F8F8F8;
  }

  #login-form>input[type="submit"] {
    color: #2f71bc;
    font-size: 16px;
    background-color: #65adff2e;
    margin-top: 20px;
  }

  #signup-btn {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    background-color: #F8F8F8;
    font-size: 16px;
    margin-top: 20px;
  }
</style>
<div class="login-wrapper">
  <br>
  <p id="login-title">로그인</p>
  <hr><br>
  <form action="/login_confirm" method="post" id="login-form" style="width: 70%; margin: auto;">
    <p>ID : </p>
    <input type="text" name="id">
    <p>password : </p>
    <input type="password" name="pw"><br><br>
    <input type="submit" value="로그인" id="loginBtn" /><br>
  </form>
  <!-- <p>아직 회원이 아니신가요?</p> -->
  <div style="width: 70%; margin: auto;">
    <a href="/signup"><button onclick="/signup" id="signup-btn">회원가입</button></a>
  </div>
  <!-- <div style="width: 70%; margin: auto; ">
    <p style="display: inline;">아직 회원이 아니신가요?</p>
    <a href="/signup" style="display: inline;">회원가입</a>
  </div> -->
</div>
{% endblock section %}