<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/auction.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/main_page.css">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <div id="banner">
    </div>
    <div id="banner-box">
        <div id="banner-text">
            <div>이화인을 위한 특별한 경매 플랫폼</div>
            <button onclick="location.href='/reg_item'" type="button" id="reg-item">등록하러 가기</button>
        </div>
        <img src="/static/images/1.jpeg" id="banner-image">
    </div>
    <br><br>

    <div class="wrapper">
        <ul class="header-list">
            <li>
                <h3 class="text">최근 올라온 상품</h3>
            </li>
            <li>
                <button onclick="location.href='/list'" id="btn" type="button">상품 더보기</button>
            </li>
        </ul>
        <hr class="line3">
        <div class="product">
            <tr>
                {% for key, value in row1 %}
                <td>
                    <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                        <img src="static/images/items/{{value.img_path}}" width="200px" height="200px">
                        <div class="desc">
                            {{value.name}}
                        </div>
                        <div class="price">{{value.fixedPrice}}원</div>
                    </div>
                </td>
                {% endfor %}
                {% for _ in range(empty_cells) %}
                <td>
                    <div class="blank-box"></div>
                </td>
                {% endfor %}
            </tr>
        </div>

        <br><br>

        <ul class="header-list">
            <li>
                <h3 class="text">최근 올라온 경매</h3>
            </li>
            <li>
                <button onclick="location.href='/auction_list'" id="btn" type="button">경매 더보기</button>
            </li>
        </ul>
        <hr class="line3">

        <div class="product">
            <tr>
                {% for key, item in row1_auction %}
                <td>
                    <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor: pointer;">
                        <img src="{{ url_for('static', filename='images/items/' + item.img_path) }}"
                            alt="{{ item.name }}" width="200px" height="200px">
                        <div class="desc">
                            {{ item.name }}
                        </div>
                        <div class="price1">
                            <span class="auction-state" data-start-date="{{ item.startDate }}"
                                data-start-time="{{ item.startTime }}" data-end-date="{{ item.endDate }}"
                                data-end-time="{{ item.endTime }}"></span>
                        </div>
                        <div class="auction_product">경매</div>
                    </div>
                </td>
                {% endfor %}
                {% for _ in range(auction_empty_cells) %}
                <td>
                    <div class="blank-box"></div>
                </td>
                {% endfor %}
            </tr>
        </div>
    </div>
    {% endblock section %}
</body>

</html>