<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/my_page.css">
  <link rel="stylesheet" href="/static/my_info.css" />
</head>

<body>
  {% extends "index.html" %}

  {% block section %}
  <div class="wrapper">
    <h2 class="title">마이 페이지</h2>
    <hr>
    <div class="menubar">
      <a href="/my_page/{{session['id']}}/">내 상점</a>
      <a href="/my_reviews/{{session['id']}}/">내 리뷰</a>
      <a href="/my_wish/{{session['id']}}/">찜</a>
      <a style="text-decoration: underline;" href="/my_info/{{session['id']}}/">개인정보</a>
    </div>
    <hr>

    <form method="post" enctype="multipart/form-data" action="/change_my_info" id="change">
      <div class="information">
        <p>아이디 : {{id}}</p>
        <p>닉네임 : {{data['nickname']}}</p>
        <p>프로필 사진 :</p>
        <div class="reg-file-box">
          <img src="/static/images/profiles/{{profile}}" alt="프로필 사진" id="profile-img">
          <div class="inside">
            <label for="file">
              <div class="file-upload-button">
                <p class="file-upload-text">프로필 사진 변경하기</p>
              </div>
            </label>
            <input type="file" name="file" id="file" onchange="loadFile(this)"/>
          </div>
        </div>
      </div>
      <input type="button" id="save-btn" value="저장" onclick="change_img()">
    </form>
  </div>

  <script>
    function loadFile(input) {
      var file = input.files[0];
      var image = document.getElementById('profile-img');
      image.src = URL.createObjectURL(file);
    }

    function change_img() {
      if (!document.getElementById("file").value)
        alert("변경할 프로필 사진을 등록해주세요.");
      else
        document.getElementById("change").submit();
    }
  </script>

  {% endblock section %}
</body>