<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/my_page.css">
  <style>
    .my-info-section {
      list-style: none;
    }

    .main-title {
      margin: 5% 5% 5% 2%;
    }

    .information {
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: left;
    }

    h4 {
      width: 200px;
      margin: 2% 10% 2% 0%;
    }

    .inside {
      margin: 2% 10% 2% 0%;
    }
  </style>
</head>

<body>
  {% extends "index.html" %}

  {% block section %}
  <div class="wrapper">
    <h2 class="title">마이 페이지</h2>
    <hr>
    <div class="menubar">
      <a href="/my_page/{{session['id']}}/">내 상점</a>
      <a href="/my_reviews/{{session['id']}}/">내 리뷰</a>
      <a href="/my_wish/{{session['id']}}/">찜</a>
      <a href="/my_info/{{session['id']}}/">개인정보</a>
    </div>
    <hr>

    <div class="information">
      <p>아이디 : {{id}}</p>
      <p>닉네임 : {{data['nickname']}}</p>
      <p>프로필 사진 :</p>
      <div style="display: flex;">
        <img src="/static/images/profiles/{{profile}}" alt="프로필 사진" height="200px">
        <form method="post" enctype="multipart/form-data" action="/change_my_info">
          <div class="inside" style="margin-left: 30px;">
            <input type="file" name="file"/>
          </div>
          <input type="submit" style="margin-left: 30px;" value="프로필 사진 변경하기"><br>
        </form>
      </div>
    </div> 
  </div>
  {% endblock section %}
</body>