<head>
    <link rel="stylesheet" type="text/css" href="../static/product_list.css">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <div class="wrapper">
        <div class="text">상품 리스트</div>
        <hr>
        <div class="menubar">
            <ul class="menubar__menu">
                <li><a href="product_list.html" style="text-decoration: underline;">전체 상품</a></li>
                <li><a href="auction_list.html">경매</a></li>
                <li><a href="list.html">일반 결제</a></li>
            </ul>
            <button onclick="document.location='/reg_item'" type="button">상품 등록하기</button>
        </div>
        {% if total > 0 %}
        <p>
            현재까지 {{total}}개 등록되었습니다.
        </p>
        <table class="content">
            <div class="product">
                <tr>
                    {% for key, value in row1 %}
                    <td onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                        <img src="static/images/{{value.img_path}}" , width=200px height=200px>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key, value in row1 %}
                    <td class="desc">{{value.name}}</td>
                    {% endfor %}
                </tr>
            </div>
            <div class="product">
                <tr>
                    {% for key, value in row2 %}
                    <td onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                        <img src="static/images/{{value.img_path}}" , width=200px height=200px>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key, value in row2 %}
                    <td class="desc">{{value.name}}</td>
                    {% endfor %}
                </tr>
            </div>
            <div class="product">
                <tr>
                    {% for key, value in row3 %}
                    <td onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                        <img src="static/images/{{value.img_path}}" , width=200px height=200px>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key, value in row3 %}
                    <td class="desc">{{value.name}}</td>
                    {% endfor %}
                </tr>
            </div>
            <div class="product">
                <tr>
                    {% for key, value in row4 %}
                    <td onclick="location.href='/view_detail/{{key}}/';" style="cursor:pointer;">
                        <img src="static/images/{{value.img_path}}" , width=200px height=200px>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for key, value in row4 %}
                    <td class="desc">{{value.name}}</td>
                    {% endfor %}
                </tr>
            </div>
        </table>
        <!--페이지네이션을 위한 코드 시작-->
        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count) %}
                        <a href="{{url_for('view_list', page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <p>
            등록된 상품이 없습니다.
        </p>
        {% endif %}



        <!--        <div class="content">
            <div class="product">
                <a target="_blank" href="">
                    <img href="details_of_item.html"
                        src="https://1801889e95b1f9bf.kinxzone.com/webfile/product/5/5231/209q2e90g00a.jpg"
                        alt="product1" width="200px" height="200px">
                </a>
                <div class="auction_product">
                    <p>경매</p>
                </div>
                <div class="desc">Product 1</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MTJV3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1694014871985"
                        alt="product2" width="200px" height="200px">
                </a>
                <div class="desc">Product 2</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product3" width="200px" height="200px">
                </a>
                <div class="desc">Product 3</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product4" width="200px" height="200px">
                </a>
                <div class="desc">Product 4</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product5" width="200px" height="200px">
                </a>
                <div class="desc">Product 5</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product6" width="200px" height="200px">
                </a>
                <div class="desc">Product 6</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product7" width="200px" height="200px">
                </a>
                <div class="desc">Product 7</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product8" width="200px" height="200px">
                </a>
                <div class="desc">Product 8</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product9" width="200px" height="200px">
                </a>
                <div class="desc">Product 9</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product10" width="200px" height="200px">
                </a>
                <div class="desc">Product 10</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product11" width="200px" height="200px">
                </a>
                <div class="desc">Product 11</div>
            </div>
            <div class="product">
                <a target="_blank" href="">
                    <img src="img_5terre.jpg" alt="product12" width="200px" height="200px">
                </a>
                <div class="desc">Product 12</div>
            </div>
        </div>
        <ul class="pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
        <hr>
    -->
    </div>
    {% endblock section %}
</body>