<head>
    <link rel="stylesheet" type="text/css" href="/static/product_list.css">
</head>

<body>
    
    {% extends "index.html" %}

    {% block section %}
    <script>
        $(document).ready(function () {
            //alert("{{category}}");
            $('#category option:contains("{{category}}")').prop("selected", true);
        });
    </script>
    <div class="wrapper">
        <div class="text">
            <h2>상품 리스트</h2>
        </div>
        <hr style="width:100%;">
        <div class="menubar">
            <ul class="menubar__menu">
                <li><a href="" style="text-decoration: underline;">전체 상품</a></li>
                <li><a href="">경매</a></li>
                <li><a href="">일반 결제</a></li>
            </ul>
            <button onclick="location.href='reg_item'" type="button">등록하기</button>
        </div>


        <table class="content">
            <td>
                <div style="width: 200px;">
                    <select id="category" name="category" onchange="location=this.value">>
                        <option value="{{url_for('view_product_list', page=i, category='all')}}">전체</option>
                        <option value="{{url_for('view_product_list', page=i, category='Clothes')}}"> 의류 </option>
                        <option value="{{url_for('view_product_list', page=i, category='Beauty')}}"> 화장품 </option>
                        <option value="{{url_for('view_product_list', page=i, category='Books')}}"> 책 </option>
                        <option value="{{url_for('view_product_list', page=i, category='Furniture')}}"> 가구 </option>
                        <option value="{{url_for('view_product_list', page=i, category='Electronics')}}"> 전자제품 </option>
                        <option value="{{url_for('view_product_list', page=i, category='ETC')}}"> 기타 </option>
                    </select>
                </div>
            </td>
            <td>
                <div style="width: 200px;"></div>
            </td>
            <td>
                <div style="width: 200px;"></div>
            </td>
            <td>
                <div style="width: 200px;">
                    {% if total > 0 %}
                    <p class=total>
                        총 {{total}}개의 상품
                    </p>
                </div>
            </td>
            <tbody class="product">
                <tr>
                    {% for key, value in row1 %}
                    <td>
                        <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                            <img src="/static/images/items/{{value.img_path}}" width="200px" height="200px">
                            {% if isAuction.get(key) %}
                            <div class="auction_product">
                                A
                            </div>
                            <div class="desc">{{value.name}}</div>
                            {% if value.remaining_time is not none %}
                            <span style="color: red"><span id="remaining-time"></span>
                            <br>
                            {% else %}
                            <p>Auction Completed</p>
                            {% endif %}
                            {% else %}
                            <div class="desc">{{value.name}}</div>
                            <div class="price">{{value.fixedPrice}}</div>
                            {% endif %}
                            
                        </div>
                    </td>
                    {% endfor %}
                    {% if page == page_count + 1 %}
                    {% for _ in range(empty_cells) %}
                    <td>
                        <div class="blank-box"></div>
                    </td>
                    {% endfor %}
                    {% endif %}
                </tr>
            </tbody>
            <tbody class="product">
                <tr>
                    {% for key, value in row2 %}
                    <td>
                        <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">

                            <img src="/static/images/items/{{value.img_path}}" width="200px" height="200px">
                            {% if isAuction.get(key) %}
                            <div class="auction_product">
                                A
                            </div>
                            <div class="desc">{{value.name}}</div>
                            {% else %}
                            <div class="desc">{{value.name}}</div>
                            <div class="price">{{value.fixedPrice}}</div>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
            <tbody class="product">
                <tr>
                    {% for key, value in row3 %}
                    <td>
                        <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                            <img src="/static/images/items/{{value.img_path}}" width="200px" height="200px">
                            {% if isAuction.get(key) %}
                            <div class="auction_product">
                                A
                            </div>
                            <div class="desc">{{value.name}}</div>
                            <div class="time">{{value.time}}</div>
                            {% else %}
                            <div class="desc">{{value.name}}</div>
                            <div class="price">{{value.fixedPrice}}</div>
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
            <tbody class="product">
                <tr>
                    {% for key, value in row4 %}
                    <td>
                        <div class="item-box" onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                            <img src="/static/images/items/{{value.img_path}}" width="200px" height="200px">
                            {% if isAuction.get(key) %}
                            <div class="desc">{{value.name}}</div>
                            <div class="auction_product">A</div>
                            {% else %}
                            <div class="desc">{{value.name}}</div>
                            <div class="price">{{value.fixedPrice}}</div>
                            {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <!--페이지네이션을 위한 코드 시작-->
        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count) %}
                        <a href="{{url_for('view_product_list', page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <p class="total">
            등록된 상품이 없습니다.
        </p>
        {% endif %}
    </div>
    {% endblock section %}
</body>