<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/reg_review.css" />
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <form method="post" enctype="multipart/form-data" action="/submit_review_post" id="submit-review">
        <div class="wrapper">
            <input type="text" id="seller-id" name="sellerId" value="{{sellerId}}">
            <input type="text" id="buyer-id" name="buyerId" value="{{session['id']}}">
            <h2 class="text1">리뷰 작성</h2>
            <hr>
            <div class="text2"><span class="asterisk">* </span>거래 제목을 입력해주세요</div>
            <textarea id="review-title" name="reviewTitle" cols="40" rows="1"></textarea>
            <div class="text2"><span class="asterisk">* </span>솔직한 리뷰를 남겨주세요</div>
            <div class="stars">
                <input type="range" id="stars-variable" name="starsVariable" min="0" max="4" value="0">
                <span class="star" id="0">★</span>
                <span class="star" id="1">★</span>
                <span class="star" id="2">★</span>
                <span class="star" id="3">★</span>
                <span class="star" id="4">★</span>
            </div>
            <textarea id="review-contents" name="reviewContents" cols="75" rows="10"></textarea>
            <br><br>
            <div class="reg-file-box">
                <label for="file">
                    <div class="file-upload-button">
                        <p class="file-upload-text">이미지 등록</p>
                    </div>
                </label>
                <input type="file" name="file" id="file" onchange="loadFile(this)"/>
                <div class="file-name-box">
                    <p id="fileName" style="font-size: 80%; margin: 1% 0% 0% 0%;">등록된 이미지가 없습니다.</p>
                </div>
            </div> 
            <br><br>
            <hr>
            <input type="button" id="ok" name="ok" value="등록하기" onclick="submit_review()">
        </div>
        <!--☆ ★-->


        <script>
            function clickFile() {
            
            }


            function loadFile(input) {
                var file = input.files[0];

                var name = document.getElementById('fileName');
                name.textContent = file.name;
            }


            // 별
            star = 0;
            stars = document.getElementsByClassName("star");
            starsVariable = document.getElementById("stars-variable");

            function starEvent() {
                for (i = 0; i < stars.length; i++) {
                    stars.item(i).addEventListener("mouseover", function () {
                        starHoverOn(parseInt(this.id));
                    });
                    stars.item(i).addEventListener("mouseleave", starHoverOff);
                    stars.item(i).addEventListener("click", function () {
                        starSet(parseInt(this.id));
                    });
                }
            }

            function starHoverOn(h) {
                for (i = 0; i < stars.length; i++) {
                    if (i > h) {
                        stars.item(i).innerHTML = "☆";
                    } else {
                        stars.item(i).innerHTML = "★";
                    }
                }
            }

            function starHoverOff() {
                starFill();
            }

            function starSet(i) {
                star = i;
                starsVariable.value = i;
                starFill();
            }

            function starFill() {
                for (i = 0; i < stars.length; i++) {
                    if (i > star) {
                        stars.item(i).innerHTML = "☆";
                    } else {
                        stars.item(i).innerHTML = "★";
                    }
                }
            }

            starEvent();
            starFill();
            // 별

            function submit_review() {
                if (document.getElementById("review-title").value == "")
                    alert("거래 제목을 입력하세요");
                else if (document.getElementById("review-contents").value == "")
                    alert("거래 내용을 입력하세요");
                else
                    document.getElementById("submit-review").submit();
            }
        </script>


    </form>
    {% endblock section %}
</body>

</html>