<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="seereview.css">
    
</head>
<body>
    <h2>갤럭시벗 리뷰</h2> 
    <div class="line"></div>
    
    <div class="topnav">
        <a href="sell.html">판매내역</a>
        <a href="seereview.html">리뷰</a>
    </div>

    <div class="line"></div>

    <div class="review">
        <img src="https://media.istockphoto.com/id/1314335932/vector/user-avatar-profile-icon-black-vector-illustration-website-or-app-member-ui-button.jpg?s=170667a&w=0&k=20&c=VpanApZWDaoSl_Q7cn3vw6tM8aG5Js4f9gGuo7F3N2A=" alt="리뷰 사진 1">
        <div>
            <div class="user">사용자 아이디 1</div>
            <p>답장이 빠르고 친절해요.</p>
            <div class="rating">별점: ★★★☆☆</div>
        </div> 
    </div>
    </div>
    <div class="review">
        <img src="https://media.istockphoto.com/id/1314335932/vector/user-avatar-profile-icon-black-vector-illustration-website-or-app-member-ui-button.jpg?s=170667a&w=0&k=20&c=VpanApZWDaoSl_Q7cn3vw6tM8aG5Js4f9gGuo7F3N2A=" alt="리뷰 사진 2">
        <div>
            <div class="user">사용자 아이디 2</div>
            <p>약속 시간을 잘 지켜요.</p>
            <div class="rating">별점: ★★★★☆</div>
        </div>
    </div>
    <div class="review">
        <img src="https://media.istockphoto.com/id/1314335932/vector/user-avatar-profile-icon-black-vector-illustration-website-or-app-member-ui-button.jpg?s=170667a&w=0&k=20&c=VpanApZWDaoSl_Q7cn3vw6tM8aG5Js4f9gGuo7F3N2A=" alt="리뷰 사진 3">
        <div>
            <div class="user">사용자 아이디 3</div>
            <p>쿨거래 했더니 가격 내려주셨어요.</p>
            <div class="rating">별점: ★★☆☆☆</div>
        </div>
    </div>
    <div class="review">
        <img src="https://media.istockphoto.com/id/1314335932/vector/user-avatar-profile-icon-black-vector-illustration-website-or-app-member-ui-button.jpg?s=170667a&w=0&k=20&c=VpanApZWDaoSl_Q7cn3vw6tM8aG5Js4f9gGuo7F3N2A=" alt="리뷰 사진 4">
        <div>
            <div class="user">사용자 아이디 4</div>
            <p>늦은 시간에 연락드려도 확인 빠르세요.</p>
            <div class="rating">별점: ★★★★★</div>
        </div>
    </div>
    <div class="review">
        <img src="https://media.istockphoto.com/id/1314335932/vector/user-avatar-profile-icon-black-vector-illustration-website-or-app-member-ui-button.jpg?s=170667a&w=0&k=20&c=VpanApZWDaoSl_Q7cn3vw6tM8aG5Js4f9gGuo7F3N2A=" alt="리뷰 사진 5">
        <div>
            <div class="user">사용자 아이디 5</div>
            <p>굿!</p>
            <div class="rating">별점: ★★☆☆☆</div>
        </div>
    </div>
    <ul class="pagination">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ul>
</body>
</html>