<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="sell.css">
   
</head>
<body>
    <h2>갤럭시벗 판매내역</h2> 
    <div class="line"></div>
    
    <div class="topnav">
        <a href="sell.html">판매내역</a>
        <a href="seereview.html">리뷰</a>
    </div>

    <div class="line"></div>

    <div class="sell">
        <img src="https://f.xza.co.kr/http://www.breaknews.com/imgdata/breaknews_com/201702/2017021011424982.jpg" alt="리뷰 사진 1">
        <div>
            <div class="user">나이키 신발 팝니다.</div>
            <p>거래 일자ㅣ 2023. 10. 13</p>
            <p>거래가ㅣ 150000원</p>
            <div class="rating">별점: ★★★☆☆</div>
        </div>
        <button class="completed1">거래완료</button>
        <button class="completed2">중고</button>
    </div>
    <div class="sell">
        <img src="https://i.pinimg.com/originals/80/74/ec/8074ec414218f911dce66cd932522dc0.jpg" alt="리뷰 사진 2">
        <div>
            <div class="user">전공책 팝니다.</div>
            <p>거래 일자ㅣ 2023. 10. 10</p>
            <p>거래가ㅣ 20000원</p>
            <div class="rating">별점: ★★★★☆</div>
        </div>
        <button class="completed1">거래완료</button>
    </div>
    <div class="sell">
        <img src="https://1801889e95b1f9bf.kinxzone.com/webfile/product/2/2556/c55d2j973690.jpeg" alt="리뷰 사진 3">
        <div>
            <div class="user">에어팟 중고</div>
            <p>거래 일자ㅣ 2023. 10. 20</p>
            <p>거래가ㅣ 90000원</p>
            <div class="rating">별점: ★★☆☆☆</div>
        </div>
        <button class="completed1">거래완료</button>
    </div>

    <ul class="pagination">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ul>

 
</body>
</html>