* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 700px;
    cursor: default;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 2px solid #65ACFF;
    width: 100%;
}

.text {
    font-size: 135%;
}

.sell {
    padding: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;

    width: 700px;
    max-width: 600px;
}

.sell p {
    display: flex;
    text-align: left;
}

.sell img {
    width: 150px;
    /*이미지크기*/
    height: 150px;
    object-fit: cover;
    /* 이미지 비율 유지 */
    margin-right: 20px;
}

.sell .user {
    font-weight: bold;
    margin-right: 35px;
}

.rating p {
    color: skyblue;
    display: flex;
}

h2 {
    text-align: center;
    padding: 10px;
}

.line {
    border-top: 3px solid skyblue;
    /* 파란색 상단 경계선 */
    width: 90%;
}

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.completed1 {
    background-color: rgb(113, 184, 220);
    color: black;
    padding: 10px;
    border-color: beige;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    margin-top: 2%;
    font-size: 11px;

}

.completed2 {
    background-color: palevioletred;
    color: black;
    padding: 10px;
    border-color: beige;
    border-radius: 10px;
    width: 47px;
    height: 35px;
    margin-top: 2%;
    font-size: 11px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
}

.checkboxes {
    display: flex;
}

.checkbox {
    margin-right: 470px;
    padding: 10px;
}