{% extends "index.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
<script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<div class="login-wrapper">
  <br><h1>회원가입</h1><br>
  <form method="post" action="/signup_post" id="signup-form">
    <p style="font-size: 20px;">ID : </p>
    <input type="text" name="id" required>
    <p style="font-size: 20px;">password : </p>
    <input type="password" name="pw" required>
    <p>Nickname : </p>
    <input type="text" name="nickname"><br><br>
    <input type="submit" value="회원가입"/></p>
  </form>
</div>
{% endblock section %}