<head>
  <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>

<body>
  {% extends "index.html" %}

  {% block section %}
  {% with mesg = get_flashed_messages() %}
  {% if mesg !=[] %}
  <script>alert("{{ mesg[0] }}")</script>
  {% endif %}
  {% endwith %}
  <div class="wrapper">
    <h2 id="title">회원가입</h2>
    <hr><br>
    <form method="post" action="/signup_post" id="signup-form" style="width: 70%; margin: auto;">
      <p>아이디 : </p>
      <input type="text" name="id" required>
      <p>비밀번호 : </p>
      <input type="password" name="pw" required>
      <p>닉네임 : </p>
      <input type="text" name="nickname"><br><br>
      <input type="submit" value="회원가입" id="signupBtn" /></p>
    </form>
  </div>
  {% endblock section %}
</body>