{% extends "index.html" %}

{% block section %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/sell.css">

</head>

<body>
    <div class="wrapper">
        <div class="text">USER0918 판매내역</div>
        <hr>

        <div class="topnav">
            <a href="sell.html">판매내역</a>
            <a href="seereview.html">리뷰</a>
        </div>

        <hr>


        <div class="checkboxes">
            <div class="checkbox">
                <input type="checkbox" id="inProgress" name="inProgress" value="inProgress">
                <label for="inProgress">판매중</label>

                <input type="checkbox" id="completed" name="completed" value="completed">
                <label for="completed">판매완료</label>
            </div>
        </div>

        <div class="sell">
            <img src="https://f.xza.co.kr/http://www.breaknews.com/imgdata/breaknews_com/201702/2017021011424982.jpg"
                alt="리뷰 사진 1">
            <div>
                <p><b>나이키 신발 팝니다.</b></p>
                <p>거래 일자ㅣ 2023. 10. 13</p>
                <p>거래가ㅣ 150000원</p>
                <div class="rating">
                    <p>별점: ★★★☆☆</p>
                </div>
            </div>
            <button class="completed1">거래완료</button>
            <button class="completed2">중고</button>
        </div>
        <div class="sell">
            <img src="https://i.pinimg.com/originals/80/74/ec/8074ec414218f911dce66cd932522dc0.jpg" alt="리뷰 사진 2">
            <div class="desc">
                <p><b>전공책 팝니다.</b></p>
                <p>거래 일자ㅣ 2023. 10. 10</p>
                <p>거래가ㅣ 20000원</p>
                <div class="rating">
                    <p>별점: ★★★★☆</p>
                </div>
            </div>
            <button class="completed1">거래완료</button>
        </div>
        <div class="sell">
            <img src="https://1801889e95b1f9bf.kinxzone.com/webfile/product/2/2556/c55d2j973690.jpeg" alt="리뷰 사진 3">
            <div>
                <p><b>에어팟 중고</b></p>
                <p>거래 일자ㅣ 2023. 10. 20</p>
                <p>거래가ㅣ 90000원</p>
                <div class="rating">
                    <p>별점: ★★☆☆☆</p>
                </div>
            </div>
            <button class="completed1">거래완료</button>

        </div>

        <ul class="pagination">
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>


</body>

</html>
{% endblock section %}
