<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/user_list.css">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <div class="wrapper">
        <div class="text">{{id}} 판매 내역</div>
        <hr>
        <div class="topnav">
            <a href="/user_list/{{id}}/">판매내역</a>
            <a href="/user_reviews/{{id}}/">리뷰</a>
        </div>
        <hr>

        {% if total > 0 %}
        <p class="count_list">
            {{total}}개의 판매 내역
        </p>

        <div class="sell">
            {% for key, value in row1 %}
            <table>
                <td onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                    <div class="content">
                        <img src="/static/images/items/{{value.img_path}}">
                        <div>
                            <p class="id_seller"><b>{{value.sellerId}}</b></p>
                            <p><b>{{value.name}}</b></p>
                            <p>{{value.description}}</p>
                        
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="sell">
            {% for key, value in row2 %}
            <table>
                <td onclick="location.href='/details_of_item/{{key}}/';" style="cursor:pointer;">
                    <div class="content">
                        <img src="/static/images/items/{{value.img_path}}">
                        <div>
                            <p><b>{{value.name}}</b></p>
                           
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="sell">
            {% for key, value in row3 %}
            <table>
                <td onclick="location.href='/details_of_review/{{key}}/';" style="cursor:pointer;">
                    <div class="content">
                        <img src="/static/images/items/{{value.img_path}}">
                        <div>
                            <p><b>{{value.name}}</b></p>
                            
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="sell">
            {% for key, value in row4 %}
            <table>
                <td onclick="location.href='/details_of_review/{{key}}/';" style="cursor:pointer;">
                    <div class="content">
                        <img src="/static/images/items/{{value.img_path}}">
                        <div>
                            <p><b>{{value.name}}</b></p>
                           
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="sell">
            {% for key, value in row5 %}
            <table>
                <td onclick="location.href='/details_of_review/{{key}}/';" style="cursor:pointer;">
                    <div class="content">
                        <img src="/static/images/items/{{value.img_path}}">
                        <div>
                            <p><b>{{value.name}}</b></p>
                          
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count) %}
                        <a href="{{url_for('view_user_list', id=id, page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        {% else %}
        <p>
            등록된 판매내역이 없습니다.
        </p>
        {% endif %}
    </div>
    {% endblock section %}
</body>

