<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/user_reviews.css">
</head>

<body>
    {% extends "index.html" %}

    {% block section %}
    <div class="wrapper">
        <div class="text">{{id}} 리뷰</div>
        <hr>
        
        <div class="topnav">
            <a href="/user_list/{{id}}/">판매내역</a>
            <a href="/user_reviews/{{id}}/">리뷰</a>
        </div>
        <hr>
        {% if total > 0 %}
        <p class="count_review">
            {{total}}개의 리뷰
        </p>
        <div class="review">
            {% for key, value in row1 %}
            <table>
                <td onclick="location.href='/details_of_review/{{value.sellerId}}/{{key}}/';" style="cursor:pointer;">
                    <div class="review-content">
                        <img src="/static/images/reviews/{{value.img_path}}">
                        <div>
                            <p><b>{{value.buyerId}}</b></p>
                            <p>{{value.reviewTitle}}</p>
                            <div class="rating">
                                {% for i in range(0, 5) %}
                                {% if i <= value.starsVariable|default(0)|int %} <span class="filled-star">★</span>
                                    {% else %}
                                    <span class="empty-star">☆</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="review">
            {% for key, value in row2 %}
            <table>
                <td onclick="location.href='/details_of_review/{{value.sellerId}}/{{key}}/';" style="cursor:pointer;">
                    <div class="review-content">
                        <img src="/static/images/reviews/{{value.img_path}}">
                        <div>
                            <p><b>{{value.buyerId}}</b></p>
                            <p>{{value.reviewTitle}}</p>
                            <div class="rating">
                                {% for i in range(0, 5) %}
                                {% if i <= value.starsVariable|default(0)|int %} <span class="filled-star">★</span>
                                    {% else %}
                                    <span class="empty-star">☆</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="review">
            {% for key, value in row3 %}
            <table>
                <td onclick="location.href='/details_of_review/{{value.sellerId}}/{{key}}/';" style="cursor:pointer;">
                    <div class="review-content">
                        <img src="/static/images/reviews/{{value.img_path}}">
                        <div>
                            <p><b>{{value.buyerId}}</b></p>
                            <p>{{value.reviewTitle}}</p>
                            <div class="rating">
                                {% for i in range(0, 5) %}
                                {% if i <= value.starsVariable|default(0)|int %} <span class="filled-star">★</span>
                                    {% else %}
                                    <span class="empty-star">☆</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="review">
            {% for key, value in row4 %}
            <table>
                <td onclick="location.href='/details_of_review/{{value.sellerId}}/{{key}}/';" style="cursor:pointer;">
                    <div class="review-content">
                        <img src="/static/images/reviews/{{value.img_path}}">
                        <div>
                            <p><b>{{value.buyerId}}</b></p>
                            <p>{{value.reviewTitle}}</p>
                            <div class="rating">
                                {% for i in range(0, 5) %}
                                {% if i <= value.starsVariable|default(0)|int %} <span class="filled-star">★</span>
                                    {% else %}
                                    <span class="empty-star">☆</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="review">
            {% for key, value in row5 %}
            <table>
                <td onclick="location.href='/details_of_review/{{value.sellerId}}/{{key}}/';" style="cursor:pointer;">
                    <div class="review-content">
                        <img src="/static/images/reviews/{{value.img_path}}">
                        <div>
                            <p><b>{{value.buyerId}}</b></p>
                            <p>{{value.reviewTitle}}</p>
                            <div class="rating">
                                {% for i in range(0, 5) %}
                                {% if i <= value.starsVariable|default(0)|int %} <span class="filled-star">★</span>
                                    {% else %}
                                    <span class="empty-star">☆</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </table>
            {% endfor %}
        </div>

        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count) %}
                        <a href="{{url_for('view_user_reviews', id=id, page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        {% else %}
        <p>
            등록된 리뷰가 없습니다.
        </p>
        {% endif %}
        <button onclick="location.href='/reg_review/{{id}}/';" style="width: 100px; height: auto;">리뷰등록</button>
    </div>
    {% endblock section %}
</body>